<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>A blogger is a person who creates the content that appears on a blog. Bloggers were originally information providers, but today they can be full-scale celebrities in their own right.

      Bloggers such as Perez Hilton, Pat Flynn, and Kylie Jenner have made entire careers from their blogs, parlaying it into television appearances and lucrative licensing deals, among many other opportunities.
      
      There are several business models you can use to make money blogging. Pat Flynn makes over $100,000 from his blog every month!
      
      What is a blog example smart passive income
      
      Highly popular news outlets like TheGaurdian, Rolling Stone, and the Wall Street Journal utilize WordPress. The Midwest Book Review is a great resource for people interested in promoting academic literacy and is an excellent example of a “review” style blog/website.
      
      Why People Blog / What is a Blog Used For?
      People blog for a number of reasons, both business and personal. For instance, blogs are used as content for businesses in indirect marketing plans, to build a personality into a known expert in the industry, or to create a link profile for the purposes of search engine optimization.
      
      Personal blogs may be set up for social status within a peer group, as an online journal, or simply as a hobby.
      
      Many people in other professions will start out asking the question because of the variety of blog types, eventually choosing a type based on the kind of content that draws them most passionately.
      
      The Emergence of Social Media Blogs
      With apps like Facebook, Twitter, Snapchat and Instagram people are finding new ways to connect with people. Setting up a social media channel is easy, but you need to associate a blog site to connect with your audience in ways social apps don’t allow.
      
      Social media channels are considered heterogeneous blogging environments but to bridge the gap setting up a WordPress site is recommended.
      
      Blog History
      The precursor to the blog was the digital community of the 1990s. As the concept of connected computers began to go mainstream, services such as Byte, Usenet, CompuServe and Bulletin Board Systems created running conversations through a “corkboard.” Topics are organized in “threads,” or blog topics, a term that is still used today.
      
      The Mosaic Communications Corporation was the first company to compile a list of new websites as they appeared on the new Internet.
      
      The online diary was the next iteration of the blog precursor. As bulletin board technology became more mainstream, people began to use it as a space for a personal online journal.
      
      Before the term “blogger” became popular, these writers were called diarists or journalists.
      
      The first person to be recognized as a blogger under that name was Justin Hall, a student at Swarthmore College who blogged about campus life.
      
      Jerry Pournelle was also counted among the first personal bloggers. As far as purely informational blogs, Scripting News by Dave Winer is credited as one of the seminal weblogs.
      
      One of the first multimedia blogs to appear online was Wearable Wireless Webcam.
      
      The combination of digital pictures, text, and video all transmitted in real time from an EyeTap device and wearable computer was known as sousveillance.
      
      The technique was employed as an information capture methodology in legal cases.
      
      The final iteration of the blog before the term became commonplace was the zine, a running online stream of information organized in a general magazine format.
      
      One of the first zines was The Misanthropic Bitch, which started running online in 1997.
      
      The blog began in the late 1990s along with the rise of new publishing tools that were made specifically for the web. The first blogs were used to teach non-technical computer users about computer programming and HTML.
      
      Jorn Barger is given credit for coining the original term, “weblog,” with the short form “blog” created by Peter Merholz on his blog Peterme.com.
      
      Evan Williams turned the word into a verb to describe the action of placing content on a blog and created the term “blogger” to help popularize the Blogger product that Pyra Labs was attempting to sell.</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>